In [0]:
# Retrieve secrets from the secret scope
aws_access_key = dbutils.secrets.get(scope="mySecretScope", key="aws_access_key_id")
aws_secret_key = dbutils.secrets.get(scope="mySecretScope", key="aws_secret_access_key")

# Set them in Spark configuration for S3 access
spark.conf.set("fs.s3a.access.key", aws_access_key)
spark.conf.set("fs.s3a.secret.key", aws_secret_key)

# Now you can read from S3 using the s3a:// protocol
file_path = "s3a://databricks-workspace-stack-64e1f-bucket/unity-catalog/469520133719749/Employee_data.csv"
df_emp = spark.read.format("csv").option("header", "true").load(file_path)
display(df_emp)

employee_id,first_name,last_name,age,gender,department,salary
1,John,Doe,35,Male,Marketing,50000
2,Jane,Smith,28,Female,Sales,60000
3,Michael,Johnson,42,Male,Finance,70000
4,Emily,Williams,31,Female,HR,55000
5,James,Brown,37,Male,Operations,65000
6,Emma,Taylor,29,Female,IT,80000
7,William,Clark,33,Male,Marketing,52000
8,Olivia,Miller,26,Female,Sales,62000
9,Liam,Anderson,39,Male,Finance,72000
10,Sophia,Lewis,32,Female,HR,58000
11,Benjamin,Thomas,34,Male,Operations,68000
12,Ava,Hall,27,Female,IT,85000
13,Alexander,White,36,Male,Marketing,53000
14,Charlotte,Jackson,30,Female,Sales,63000
15,Ethan,Harris,31,Male,Finance,73000
16,Mia,Martin,29,Female,HR,60000
17,David,Anderson,35,Male,Operations,70000
18,Sofia,Moore,28,Female,IT,90000
19,Joseph,King,37,Male,Marketing,54000
20,Amelia,Cooper,29,Female,Sales,65000
21,Lucas,Hill,33,Male,Finance,75000
22,Grace,Walker,26,Female,HR,62000
23,Aiden,Green,38,Male,Operations,72000
24,Harper,Young,31,Female,IT,95000
25,Christopher,Allen,34,Male,Marketing,55000
26,Lily,Wright,27,Female,Sales,67000
27,Daniel,Robinson,36,Male,Finance,77000
28,Sofia,Hall,30,Female,HR,64000
29,Logan,Turner,32,Male,Operations,74000
30,Ella,Lee,29,Female,IT,98000
31,William,Parker,35,Male,Marketing,56000
32,Avery,Carter,28,Female,Sales,68000
33,Lincoln,Gonzalez,34,Male,Finance,80000
34,Chloe,Harris,27,Female,HR,66000
35,Michael,Walker,36,Male,Operations,76000
36,Emily,Moore,31,Female,IT,102000
37,James,Phillips,33,Male,Marketing,58000
38,Olivia,Hall,26,Female,Sales,70000
39,Benjamin,Clark,38,Male,Finance,82000
40,Ava,Lopez,30,Female,HR,68000
41,Alexander,Turner,35,Male,Operations,78000
42,Sophia,Campbell,29,Female,IT,105000
43,Joseph,Roberts,32,Male,Marketing,60000
44,Mia,Hill,27,Female,Sales,72000
45,David,Ross,36,Male,Finance,85000
46,Lucy,Perez,31,Female,HR,70000
47,Logan,Cooper,33,Male,Operations,80000
48,Emma,Richardson,28,Female,IT,108000
49,Ethan,Phillips,34,Male,Marketing,62000
50,Charlotte,Smith,26,Female,Sales,75000
51,Noah,Kelly,37,Male,Finance,87000
52,Sophia,Reed,30,Female,HR,72000
53,Lucas,Cox,35,Male,Operations,82000
54,Avery,Collins,29,Female,IT,110000
55,William,Rivera,32,Male,Marketing,64000
56,Olivia,Hall,27,Female,Sales,77000
57,Mason,Morris,36,Male,Finance,90000
58,Ava,Gonzalez,31,Female,HR,75000
59,Aiden,Cook,33,Male,Operations,85000
60,Emily,Allen,28,Female,IT,112000
61,James,Hill,34,Male,Marketing,66000
62,Isabella,Turner,26,Female,Sales,79000
63,Ethan,Walker,37,Male,Finance,92000
64,Emily,Parker,31,Female,HR,78000
65,Liam,Smith,33,Male,Operations,88000
66,Abigail,Adams,29,Female,IT,115000
67,Lucas,Carter,35,Male,Marketing,68000
68,Charlotte,Reed,28,Female,Sales,81000
69,Benjamin,Cook,34,Male,Finance,95000
70,Ava,Baker,30,Female,HR,80000
71,William,Morris,37,Male,Operations,90000
72,Sophia,Young,31,Female,IT,118000
73,Mason,Turner,33,Male,Marketing,70000
74,Ava,Harris,26,Female,Sales,83000
75,Ethan,Collins,36,Male,Finance,98000
76,Olivia,Rivera,31,Female,HR,82000
77,Noah,Martinez,33,Male,Operations,92000
78,Sophia,Peterson,28,Female,IT,122000
79,Logan,Howard,34,Male,Marketing,72000
80,Ava,Perez,26,Female,Sales,86000
81,William,Adams,37,Male,Finance,105000
82,Emily,Turner,31,Female,HR,88000
83,Liam,Carter,33,Male,Operations,98000
84,Sophia,Harris,29,Female,IT,125000
85,Aiden,Parker,35,Male,Marketing,74000
86,Olivia,Ross,28,Female,Sales,89000
87,James,Evans,36,Male,Finance,108000
88,Sophia,Stewart,31,Female,HR,92000
89,Ethan,Phillips,33,Male,Operations,102000
90,Emily,Allen,29,Female,IT,128000
91,Liam,Kelly,37,Male,Marketing,76000
92,Abigail,Ward,28,Female,Sales,92000
93,Lucas,Rivera,36,Male,Finance,112000
94,Charlotte,Wilson,31,Female,HR,96000
95,Benjamin,Roberts,33,Male,Operations,108000
96,Ava,Cook,29,Female,IT,132000
97,William,Hill,35,Male,Marketing,78000
98,Olivia,Martinez,26,Female,Sales,95000
99,Mason,Reed,37,Male,Finance,115000
100,Ella,Brown,31,Female,HR,99000